<ion-view title="About huggr">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <!-- No function atm
  <ion-nav-buttons side="right">
  <button class="button button-icon icon ion-gear-a"></button>
  </ion-nav-buttons>
-->
    <ion-tabs class="tabs-positive tabs-icon-only has-header">

        <ion-tab title="About" icon="ion-information">
            <ion-content class="has-header">
                <!-- Please do not remove this -->
                <div class="padding-top padding-bottom">About</div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Team" icon="ion-person-stalker">
            <ion-content class="has-header">
                <!-- Please do not remove this -->
                <div class="padding-top padding-bottom">Team</div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Support" icon="ion-help-buoy">
            <ion-content class="has-header">
                <!-- Please do not remove this -->
                <div class="item item-text-wrap">
                    <div class="padding-top padding-bottom">Support</div>
                </div>
                <div class="card">
                    <div class="item item-text-wrap">
                        <p>{{currentUser.displayName}}</p>
                        <p>
                            {{currentUser.email}}
                        </p>
                        <label class="item item-input">
                            <textarea rows="10" placeholder="What do you need help with?" ng-model="request.message"></textarea>
                        </label>
                        <button ng-click="sendRequest()" class="button button-balanced button-block">
                            Request assistance!
                        </button>

                    </div>
                    <!--
                    <ion-item ng-repeat="item in support.requests" item="item" href="#/app/about/support/{{item.supportID}}" class="item-thumbnail-left">
                        <p>ID: {{item.supportID}}
                        </p>
                    </ion-item>
                    <ion-item ng-repeat="item in support.answers" item="item" href="#/app/about/support/{{item.supportID}}" class="item-thumbnail-left">
                        <p>ID: {{item.supportID}}
                        </p>
                    </ion-item>-->
                    <ion-item ng-repeat="(key, value) in supportData" href="#/app/about/support/{{item.supportID}}" class="item-thumbnail-left">
                        <p>ID: {{key}} Value {{value}}
                        </p>
                    </ion-item>

            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>