<ion-view title="Logout">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row">
            <div class="col">
                <img class="splashLogo" height="100%" width="100%" src="img/huggr.svg">
            </div>

        </div>
        <div class="row">
            <div class="col text-center logoFont">huggr</div>
        </div>

        <div class="padding">
            <div class="row">
            </div>
            <div class="row">
                <button ng-click="logout()" class="button button-block button-assertive icon-left ion-log-out">Log Out</button>
            </div>
        </div>

    </ion-content>
</ion-view>
