<ion-view title="Profile">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-positive tabs-icon-only">

        <ion-tab title="You" icon="sp-user">
            <ion-content class="has-header">
                <!-- Please do not remove this -->
                <div class="padding-top padding-bottom">You</div>
                <div class="list card">

                    <div class="item item-avatar">
                        <img ng-src="{{currentUser.picture}}">
                        <h2>{{currentUser.displayName}}</h2>
                        <p><span ng-show="currentUser.age">{{currentUser.age}} years old</span><span ng-hide="currentUser.age">You haven't set your birthday yet</span>
                        </p>
                    </div>

                    <div class="item item-body">
                        <img class="full-image rounded" ng-src="{{currentUser.picture}}">
                        <p>
                            <span ng-show="currentUser.hobby">{{currentUser.hobby}}</span>
                            <span ng-hide="currentUser.hobby">Please tell us something about yourself</span>
                        </p>
                        <p>
                            <span>Your current Rating:</span>
                            <rating ng-model="userRatingForView" max="5"></rating>
                            <a href="" class="subdued">Number of huggs: {{currentUser.numberHuggs}}</a>
                        </p>

                    </div>
                </div>
                <div class="padding">
        <button class="button" ng-click="showToast('testing the bottom', 'long', 'bottom')">Long Bottom</button>
        <button class="button" ng-click="showToast('testing the top', 'short', 'top')">Short Top</button>
        <button class="button" ng-click="showToast('this is a test', 'long', 'center')">Long Center</button>
    </div>
            </ion-content>
        </ion-tab>

        <ion-tab title="Your Huggs" icon="sp-huggr">
            <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
                <ion-tab title="Unanswered" icon="ion-help">
                    <ion-content class="has-header">
                        <!-- Please do not remove this -->
                        <div class="padding-top padding-bottom">Unanswered huggs</div>
                        <ion-list>
                            <div class="item item-divider padding-top">
                                Answered huggs
                            </div>
                            <ion-item ng-repeat="item in answeredHuggs.hugg" item="item" href="#/app/profile/{{item.answerProfileID}}/{{item.huggID}}" class="item-thumbnail-left">
                                <img ng-src="{{item.answerPicture}}">
                                <p>
                                    {{item.huggID}} {{item.lat}} {{item.long}}{{item.reqTime}} {{item.answerProfileID}} {{item.answerTime}} {{item.answerPicture}} {{item.answerGender}} {{item.answerFirstName}}
                                </p>

                                <ion-option-button class="button-assertive icon sp-huggr override-icon-position" ng-click="declineHugg(item.huggID, item.answerProfileID)"></ion-option-button>
                                <ion-option-button class="button-balanced icon sp-huggr override-icon-position" ng-click="acceptHugg(item.huggID, item.answerProfileID)"></ion-option-button>
                            </ion-item>
                            <div class="item item-divider">
                                Unanswered huggs
                            </div>
                            <ion-item ng-repeat="item in unansweredHuggs.hugg" item="item" class="item-thumbnail-left">
                                <img ng-src="{{currentUser.picture}}">
                                <h2>You have requested this hug</h2>
                                <p>
                                    {{item.huggID}} {{item.lat}} {{item.long}} {{item.reqTime}}
                                </p>
                                <ion-option-button class="button-assertive icon ion-trash-b override-icon-position" ng-click="removeHugg(item.huggID)"></ion-option-button>
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-tab>

                <ion-tab title="Accepted" icon="ion-checkmark">
                    <ion-content class="has-header">
                        <!-- Please do not remove this -->
                        <div class="padding-top padding-bottom">Accepted huggs</div>
                        <ion-list>
                            <div class="item item-divider padding-top">
                                huggs you can unaccept
                            </div>
                            <ion-item ng-repeat="item in unacceptedHuggs.hugg" item="item" href="#/app/profile/{{item.reqProfileID}}/{{item.huggID}}" class="item-thumbnail-left">
                                <img ng-src="{{item.reqPicture}}">
                                <p>
                                    {{item.huggID}} {{item.lat}} {{item.long}} {{item.reqFirstName}} {{item.reqGender}} {{item.reqRating}} {{item.reqTime}} {{item.reqPicture}}
                                </p>
                                <ion-option-button class="button-assertive icon sp-huggr override-icon-position" ng-click="revokeAnswer(item.huggID)"></ion-option-button>
                            </ion-item>
                            <div class="item item-divider padding-top">
                                own Accepted huggs
                            </div>
                            <ion-item ng-repeat="item in ownAcceptedHuggs.hugg" item="item" href="#/app/profile/{{item.answerProfileID}}/{{item.huggID}}" class="item-thumbnail-left">
                                <img ng-src="{{item.answerPicture}}">
                                <p>
                                    {{item.huggID}} {{item.lat}} {{item.long}} {{item.answerFirstName}} {{item.answerGender}} {{item.reqTime}} {{item.answerTime}}
                                </p>
                                <ion-option-button class="button-assertive icon sp-huggr override-icon-position" ng-click="declineHugg(item.huggID, item.reqProfileID)"></ion-option-button>
                                <ion-option-button class="button-balanced icon ion-checkmark override-icon-position" ng-click="markDone(item.huggID)"></ion-option-button>
                            </ion-item>
                            <div class="item item-divider">
                                other accepted huggs
                            </div>
                            <ion-item ng-repeat="item in otherAcceptedHuggs.hugg" item="item" href="#/app/profile/{{item.reqProfileID}}/{{item.huggID}}" class="item-thumbnail-left">
                                <img ng-src="{{item.reqPicture}}">
                                <p>
                                    {{item.huggID}} {{item.lat}} {{item.long}} {{item.reqFirstName}} {{item.reqGender}} {{item.reqRating}} {{item.reqTime}} {{item.reqPicture}}
                                </p>
                                <ion-option-button class="button-balanced icon ion-checkmark override-icon-position" ng-click="markDone(item.huggID)"></ion-option-button>
                                  <ion-option-button class="button-assertive icon sp-huggr override-icon-position" ng-click="revokeAnswer(item.huggID)"></ion-option-button>
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-tab>

                <ion-tab title="Done" icon="ion-thumbsup">
                    <ion-content class="has-header">
                        <!-- Please do not remove this -->
                        <div class="padding-top padding-bottom">done huggs</div>
                        <ion-list>
                            <div class="item item-divider padding-top">
                                own done huggs
                            </div>
                            <ion-item ng-repeat="item in ownDoneHuggs.hugg" item="item" class="item-thumbnail-left">
                                <img ng-src="{{item.answerPicture}}">
                                <h2>Please rate your hug with {{item.answerFirstName}}</h2>
                                <p>
                                    {{item.huggID}} {{item.lat}} {{item.long}} {{item.reqTime}} {{item.answerProfileID}} {{item.answerTime}} {{item.answerPicture}} {{item.answerGender}} {{item.answerFirstName}} {{item.reqRating}} {{item.answerRating}} {{item.totalRating}}
                                           <rating ng-model="item.answerRating" max="5"></rating>

                                    
                                </p>
                            </ion-item>
                            <div class="item item-divider">
                                other done huggs
                            </div>
                            <ion-item ng-repeat="item in otherDoneHuggs.hugg" item="item" class="item-thumbnail-left">
                                <img ng-src="{{item.reqPicture}}">
                                <p>
                                    {{item.huggID}} {{item.lat}} {{item.long}} {{item.reqTime}} {{item.reqProfileID}} {{item.reqPicture}} {{item.reqGender}} {{item.reqFirstName}} {{item.reqRating}} {{item.answerRating}} {{item.totalRating}}
                                           <rating ng-model="item.reqRating" max="5"></rating>


                                </p>
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-tab>

                <ion-tab title="History" icon="sp-history override-sptabs">
                </ion-tab>
            </ion-tabs>

        </ion-tab>

        <ion-tab title="Blocked users" icon="sp-blocked">
            <!-- Please do not remove this -->
            <div class="padding-top padding-bottom">Hugg history</div>
            <ion-list>
                <ion-item ng-repeat="user in blockedUsers" item="item" class="item-thumbnail-left">
                    <img ng-src="{{user.picture}}">
                    <h2>{{user.displayName}}</h2>
                    <ion-option-button class="button-balanced icon ion-checkmark override-icon-position" ng-click="unblockUser(user.profileID)"></ion-option-button>

                </ion-item>
            </ion-list>
            <div class="card" ng-show="noBlockedUsers">
                <div class="item item-text-wrap">
                    Sorry, no blocked users...
                </div>
            </div>
        </ion-tab>

    </ion-tabs>

</ion-view>
