<ion-view title="Profile">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div id="profilePanel" class="panel panel-profile">
            <div class="panel-heading text-center bg-info">
                <img alt="" src="img/g1.jpg" class="img-circle img80_80">
                <h3>Emil Abramov</h3>
                <p>UI Lead</p>
            </div>
            <div class="list-justified-container">
                <ul class="list-justified text-center">
                    <li>
                        <p class="size-h3">679</p>
                        <p class="text-muted">Hugs</p>
                    </li>
                    <li>
                        <p class="size-h3">575</p>
                        <p class="text-muted">Something</p>
                    </li>
                    <li>
                        <p class="size-h3">23</p>
                        <p class="text-muted">Favourites</p>
                    </li>
                    <!-- This is to get user info -->
                    <button ng-click="getUserInfo(2225696150)" class="button">Getinfo</button>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
