<ion-view title="Profile">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-positive tabs-icon-only">

        <ion-tab title="You" icon="sp-user">
            <ion-content class="has-header">
                <!-- Please do not remove this -->
                <div class="padding-top padding-bottom">You</div>
                <div class="list card">

                    <div class="item item-avatar">
                        <img ng-src="{{currentUser.picture}}">
                        <h2>{{currentUser.displayName}}</h2>
                        <p><span ng-show="currentUser.age">{{currentUser.age}} years old</span><span ng-hide="currentUser.age">You haven't set your birthday yet</span>
                        </p>
                    </div>

                    <div class="item item-body">
                        <img class="full-image rounded" ng-src="{{currentUser.picture}}">
                        <p>
                            <span ng-show="currentUser.hobby">{{currentUser.hobby}}</span>
                            <span ng-hide="currentUser.hobby">Please tell us something about yourself</span>
                        </p>
                        <p>
                            <span>Your current Rating:</span>
                            <rating ng-model="currentUser.rating" max="5"></rating>
                            <a href="" class="subdued">Number of huggs: {{currentUser.numberHuggs}}</a>
                        </p>

                    </div>
                </div>
            </ion-content>
        </ion-tab>

        <ion-tab title="Your Huggs" icon="sp-huggr">
            <ion-content class="has-header">
                <!-- Please do not remove this -->
                <div class="padding-top padding-bottom">Hugg history</div>



                <ion-list>

                    <ion-item href="#/app/profile/{{item.profileID}}/{{item.huggID}}" class="item-thumbnail-left huggr-thumbnail-right">
                        <img ng-src="{{currentUser.picture}}">
                        <img src="img/avatars/img2.jpg">
                        <p>
                        </p>

                        <ion-option-button class="button-assertive icon ion-trash-b override-icon-position" ng-click="removeHugg(item.huggID)"></ion-option-button>
                        <ion-option-button class="button-royal icon ion-map override-icon-position" ng-click=""></ion-option-button>
                        <ion-option-button class="button-balanced icon sp-huggr override-icon-position" ng-click="acceptHugg(item.huggID, item.requesterProfileID)"></ion-option-button>

                    </ion-item>

                </ion-list>

                <button>Accept Hugg 3571064178 from 7293129584</button>
                <button ng-click="declineHugg(6189690408, 6062503658)">Decline Hugg 6189690408 from 6062503658</button>
                <button ng-click="revokeAnswer(6189690408)">Revoke hugg 6189690408</button>
                <button ng-click="markDone(6189690408)">Mark hugg 6189690408 done</button>
                <button ng-click="rateAnswerHugg(6189690408, 2, 6062503658)">Rate hugg 6189690408 with 5 stars</button>
                <button ng-click="rateReqHugg(6189690408, 2, 6062503658)">Rate hugg 6189690408 with 2 stars</button>
            </ion-content>
        </ion-tab>

        <ion-tab title="Blocked users" icon="sp-blocked">
            <!-- Please do not remove this -->
            <div class="padding-top padding-bottom">Hugg history</div>

            <button ng-click="unblockUser(6389391535)">Unblock user 6389391535</button>

        </ion-tab>

    </ion-tabs>

</ion-view>
