<ion-view>
    <ion-content>
            <div class="row">
                <div class="col"><a ng-click="goHome()"><img class="splashLogo" height="100%" width="100%" src="img/huggr.svg"></a>
                </div>

            </div>
            <div class="row">
                <div class="col text-center logoFont">huggr</div>
            </div>

            <div>

                <div class="row">
                    <div class="col col-bottom text-center">
                        <br>Login with:</div>
                </div>
                <div class="row">
                    <div class="col">
                        <button ng-click="login('facebook')" class="button button-block button-facebook icon-left ion-social-facebook" id="fb">Facebook</button>
                    </div>
                    <div class="col">
                        <button ng-click="login('google')" class="button button-block button-gplus icon-left ion-social-googleplus">Google+</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center tosGrey">By logging in, you accept our <a class="splashLinks" ng-click="privacy()">privacy policy</a> and our <a class="splashLinks" ng-click="tos()">terms of service</a>.</div>
                </div>
            </div>

    </ion-content>
</ion-view>
