<ion-view>
    <ion-content>
        <div class="row">
            <div class="col"><img class="splashLogo" height="100%" width="100%" src="img/huggr.svg">
            </div>

        </div>
        <div class="row">
        	<div class="col text-center logoFont">huggr</div>
        </div>

        <div>

        <div class="row">
        	<div class="col col-bottom text-center"><br>Login with:</div>
        </div>
        <div class="row">
            <div class="col"><button class="button button-block button-facebook icon-left ion-social-facebook">Facebook</button></div>
            <div class="col"><button class="button button-block button-gplus icon-left ion-social-googleplus">Google+</button></div>
        </div>
        <div class="row">
        	<div class="col">By logging in, you accept our <a ng-click="privacy()">privacy policy</a> and our <a ng-click="tos()">terms of service</a>.</div>
        </div>
        </div>
    </ion-content>
</ion-view>
