<ion-popover-view style="height: 50%">
    <div class="bar bar-header bar-balanced">
        <h1 class="title">Give us some details</h1>
    </div>
    <ion-content>

        <!-- need to get value from here -->
        <div class="range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume">
            <i class="icon ion-volume-high"></i>
        </div>
        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                    Range
                </div>
                <select ng-model="huggRequest.range">
                    <option>5 km</option>
                    <option selected>10 km</option>
                    <option>Forever alone 100 km</option>
                </select>
            </label>

        </div>


        <ul class="list">
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="huggRequest.male">
                </label>
                Male
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="huggRequest.female">
                </label>
                Female
            </li>
        </ul>

        <button class="button button-energized button-block" ng-click="displayResults()">
            Search
        </button>
    </ion-content>
</ion-popover-view>