<ion-view title="Search">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-striped tabs-color-assertive">

        <ion-tab title="Open" icon="ion-person">
            <ion-content class="has-header">
                <!-- Please do not remove this -->
                <div class="padding-top padding-bottom">Open</div>
                <div class="padding-top">
                    Search for users
                </div>
                <div class="bar item-input-inset padding-top">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios7-search placeholder-icon"></i>
                        <input type="search" placeholder="Search" ng-model="search.user">
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Criteria
                        </div>
                        <select ng-model="search.criteria">
                            <option selected >profileID</option>
                            <option>displayName</option>
                            <option>firstName</option>
                            <option>lastName</option>
                            <option>gender</option>
                            <option>rating</option>
                            <option>numberHuggs</option>
                            <option>age</option>
                            <option>email</option>
                        </select>
                    </label>
                    <button class="button button-clear" ng-click="searchUser()">
                        Search
                    </button>
                </div>
                <ion-item ng-repeat="item in userData" item="item" class="item-thumbnail-left">
                        <img ng-src="{{item.picture}}">
                        <h2>{{item.firstName}} {{item.lastname}}     #{{item.profileID}}</h2>
                    {{item.gender}}  {{item.rating}}  {{item.numberHuggs}}
                    {{item.reqTime | date:'dd.MM.yyyy HH:mm'}} {{item.age}} {{item.lastSeenTime | date:'dd.MM.yyyy HH:mm'}} {{item.email}}
                </ion-item>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Closed" icon="ion-heart">
            <ion-content class="has-header">
                <!-- Please do not remove this -->
                <div class="padding-top padding-bottom">Closed</div>
                <div class="card">
                    <div class="item item-divider padding-top">
                        Closed support requests:
                    </div>
                    <ion-item ng-repeat="item in supportData" item="item" ng-if="item.done == '1'" href="#/app/supportitem/{{item.supportID}}">
                        <h2>Subject {{item.subject}}</h2>
                        <p><i class="icon ion-calendar"> </i>{{item.time | date:'dd.MM.yyyy HH:mm'}}, #{{item.supportID}}</p>
                        <p><i class="ion-person"> </i>{{item.profileID}}</p>
                    </ion-item>
                </div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>