<ion-view title="About huggr">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-striped tabs-color-assertive">

        <ion-tab title="Open" icon="ion-alert">
            <ion-content class="has-header">
                <!-- Please do not remove this -->
                <div class="padding-top padding-bottom">Open</div>
                <div class="card">
                    <div class="item item-divider padding-top">
                        Currently open requests:
                    </div>
                    <ion-item ng-repeat="item in supportData" item="item" ng-if="item.done == '0'" href="#/app/admin/supportitem/{{item.supportID}}">
                        <h2>Subject {{item.subject}}</h2>
                        <p><i class="icon ion-calendar"> </i>{{item.time | date:'dd.MM.yyyy HH:mm'}}, #{{item.supportID}}</p>
                        <p><i class="ion-person"> </i>{{item.profileID}}</p>
                    </ion-item>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Closed" icon="ion-checkmark">
            <ion-content class="has-header">
                <!-- Please do not remove this -->
                <div class="padding-top padding-bottom">Closed</div>
                <div class="card">
                    <div class="item item-divider padding-top">
                        Closed support requests:
                    </div>
                    <ion-item ng-repeat="item in supportData" item="item" ng-if="item.done == '1'" href="#/app/admin/supportitem/{{item.supportID}}">
                        <h2>Subject {{item.subject}}</h2>
                        <p><i class="icon ion-calendar"> </i>{{item.time | date:'dd.MM.yyyy HH:mm'}}, #{{item.supportID}}</p>
                        <p><i class="ion-person"> </i>{{item.profileID}}</p>
                    </ion-item>
                </div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>