<ion-view title="About huggr">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-ios7-bell"><span ng-if="notificationData" class="badge badge-assertive icon-badge">{{notificationData | keylength}}</span>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card">
            <div class="item">
                <div class="item item-body">
                    <h2>Subject: {{supportData.subject}}</h2>
                    <p><i class="icon ion-calendar"> </i>{{supportData.time | date:'dd.MM.yyyy HH:mm'}}, #{{supportData.supportID}}</p>
                    <p ng-if="supportData.done == '0'">Open</p>
                    <p ng-if="supportData.done == '1'">Closed at <i class="icon ion-calendar"> </i>{{supportData.closeTime}}</p>
                </div>
            </div>
            <div class="item">
                <div class="item item-body">
                    <h2>Userinfo:</h2>
                    <p><i class="ion-person"> </i>{{supportData.profileID}}</p>
                    <p>{{data.displayName}}, <i class="ion-at"> </i>{{data.email}}</p>
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="item item-body">
                    <h2>User's support request:</h2>
                    <p>{{supportData.request}}</p>
                </div>
            </div>
            <div class="item">
                <div class="item item-body" ng-if="supportData.done == '1'">
                    <h2>Answer from support team:</h2>
                    <p><i class="icon ion-calendar"> </i>{{supportData.closeTime | date:'dd.MM.yyyy HH:mm'}}</p>
                    <p>{{supportData.answer}}</p>
                </div>
                <div class="item item-body" ng-if="supportData.done == '0'">
                    <h2>Answer this request:</h2>
                    <label class="item item-input">
                        <textarea rows="10" placeholder="Answer from support" ng-model="message.message"></textarea>
                    </label>
                    <button class="button button-stable button-block" ng-click="answerRequest()">
                        Answer support request
                    </button>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>