<ion-view title="{{ctitle}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding" start-y="120">
        <ol class="messages">
            <li ng-repeat="message in chatData" ng-class="{ 'message-me': message.user == currentUser.profileID}">
                
                        <label> {{message.time | date : 'EEE HH:mm'}}</label>

                <p>{{message.message}}</p><img class="chatimg" ng-src="{{message.picture}}">
            </li>
        </ol>

    </ion-content>
    <ion-footer-bar>
            <textarea type="text" ng-model="messageInput" column="50" placeholder="Type your message here..."></textarea>
        <button class="button pull-right button-clear button-positive" ng-click="sendMessage()">Send!</button>
    </ion-footer-bar>
</ion-view>
